@font-face {
    font-family: odin-logo;
    src: url(./fonts/Norse-Bold.otf);
}

body {
    display: flex;
    background-color: black;
    padding-inline: 230px;
    margin: 0;
    gap: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 22px;
}

.card-container {
    position: relative;
    width: 60%;
}

.card-image {
    position: absolute;
    height: 100vh;
    z-index: -1;
    background-size: cover;
}

.card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 150px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    top: 15rem;
    font-size: clamp(1.75em, 4vw, 5em);
    font-family: Arial, Helvetica, sans-serif;
}

.odin-logo, .card-text{
    width: 20%;
    font-family: odin-logo, Arial, Helvetica, sans-serif;
}

.card-credits {
    color: black;
    font-size: small;
    position: absolute;
    bottom: 10px;
    left: 25%;  
}

a {
    color: black;
}

.form-container {
    height: calc(100vh - 150px);
    width: calc(100% - 230px);
    background-color: white;
    padding-left: 50px;
    padding-right: 180px;
    padding-top: 150px;
}

form {
    display: flex;
    flex-wrap: wrap;
    column-gap: 100px;
    color: #5D6063;
    background-color: #EAEDF0;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 12px;
    line-height: 1.3;
}

.form-row {
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .form-row input[type='text'],
  .form-row input[type='email'],
  .form-row input[type='password'] {
    background-color: #FFFFFF;
    border: 1px solid #c1c2c4;
    border-radius: 3px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
  }

  .form-row button {
    font-size: 16px;
    font-weight: bold;
  
    color: #FFFFFF;
    background-color: #5995DA;
  
    border: none;
    border-radius: 3px;
  
    padding: 10px 40px;
    cursor: pointer;
  }
  
  .form-row button:hover {
    background-color: #76AEED;
  }
  
  .form-row button:active {
    background-color: #407FC7;
  }

.login {
    font-size: 16px;
}

a.login:link { 
    text-decoration: none;
    color: #5995DA;
 }

a.login:visited { 
    text-decoration: none;
    color: #5995DA;
 }

a.login:hover { 
    text-decoration: none;
    color: #5995DA;
 }

a.login:active { 
    text-decoration: none;
    color: #5995DA;
 }

 input:invalid {
    border-color: red;
  }


.form-row input[type='password']:invalid  {
  border: 1px solid #D55C5F;
  box-shadow: none; /* Remove default red glow in Firefox */
}

.form-row input[type='password']:valid,
.form-row input[type='text']:valid,
.form-row input[type='email']:valid  {
    border: 1px solid #7ce978;
    box-shadow: none; /* Remove default red glow in Firefox */
  }